# aws credentials
access_key = ""
secret_key = ""

# Login
ssh_key_name = "k8s"
ssh_private_key_path = "~/.ssh/k8s.pem"

# service expose
edge_eip_allocation_id = ""
master_eip_alocation_id = ""

# cluster config
master_instance_type = "t2.micro"
worker_instance_type = "t2.micro"
# we currently use the same instance_type for edge machines

# It is recommend to have an odd number of masters, since we deploy etcd on masters
master_count = 1
worker_count = 1
# Edge number must comply with eip number, and this is not auto linked
# If you change edge_count, you must link it by yourself in modules.tf
edge_count = 1
