[Unit]
ConditionFileIsExecutable=/usr/lib/coreos/kubelet-wrapper
ConditionFileNotEmpty=/etc/kubernetes/ssl/kube-worker.pem
ConditionFileNotEmpty=/etc/kubernetes/ssl/kube-worker-key.pem
After=flanneld.service
Requires=flanneld.service
After=prefetch-docker-hyperkube.service
Requires=prefetch-docker-hyperkube.service
[Service]
Environment="KUBELET_IMAGE={{S3_LOCATION}}/hyperkube_{{KUBE_VERSION}}.aci"
Environment="RKT_RUN_ARGS=\
  --uuid-file-save=/var/run/kubelet-pod.uuid \
  --insecure-options=image \
  --volume dns,kind=host,source=/etc/resolv.conf \
  --mount volume=dns,target=/etc/resolv.conf \
  --volume var-log,kind=host,source=/var/log \
  --mount volume=var-log,target=/var/log"
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
ExecStartPre=/usr/bin/mkdir -p /var/log/containers
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/run/kubelet-pod.uuid
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --allow-privileged=true \
  --anonymous-auth=false \
  --api-servers=https://{{MASTER_HOST}} \
  --cloud-provider=aws \
  --client-ca-file=/etc/kubernetes/ssl/ca.pem \
  --cluster-dns={{DNS_SERVICE_IP}} \
  --cluster-domain={{CLUSTER_DOMAIN}} \
  --cni-conf-dir=/etc/kubernetes/cni/net.d \
  --container-runtime=docker \
  --hostname-override={{ansible_default_ipv4.address}} \
  --kubeconfig=/etc/kubernetes/worker-kubeconfig.yml \
  --node-labels node-role.kubernetes.io/node,{{NODE_LABELS}} \
  --pod-infra-container-image={{POD_INFRA_CONTAINER_IMAGE}} \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --register-node=true \
  --tls-cert-file=/etc/kubernetes/ssl/kube-worker.pem \
  --tls-private-key-file=/etc/kubernetes/ssl/kube-worker-key.pem
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/run/kubelet-pod.uuid
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
