[Service]
Environment="ETCD_NAME={{ansible_machine_id}}"
Environment="ETCD_LISTEN_CLIENT_URLS=https://0.0.0.0:2379"
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://{{ansible_default_ipv4.address}}:2379"
Environment="ETCD_CLIENT_CERT_AUTH=true"
Environment="ETCD_TRUSTED_CA_FILE=/etc/kubernetes/ssl/ca.pem"
Environment="ETCD_CA_FILE=/etc/kubernetes/ssl/ca.pem"
Environment="ETCD_CERT_FILE=/etc/kubernetes/ssl/etcd.pem"
Environment="ETCD_KEY_FILE=/etc/kubernetes/ssl/etcd-key.pem"
Environment="ETCD_PEER_TRUSTED_CA_FILE=/etc/kubernetes/ssl/ca.pem"
Environment="ETCD_PEER_CERT_FILE=/etc/kubernetes/ssl/etcd.pem"
Environment="ETCD_PEER_KEY_FILE=/etc/kubernetes/ssl/etcd-key.pem"
